#timeline-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(14, 14, 14);
  overflow: auto;
}

svg {
  width: 100%;
  height: 4000px;
}

.timeline-axis line,
.timeline-axis path {
  stroke: white;
  stroke-width: 3px;
}

.timeline-axis text {
  color: white;
  font-size: 18px;
}

.line-extension {
  stroke: white;
}

.launch-number {
  fill: black;
  pointer-events: none;
}
